@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header .presentation {
  margin: 50px;
  background: url("img/dreams.jpg") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 100ms ease;
}
header ul.nav li:hover {
  opacity: 0.7;
}
header .presentation::after {
  content: "Gone brands at the best prices";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
header .presentation::before {
  content: "dress as you like";
  position: absolute;
  top: 265px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 30%;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

main .item img {
  width: 100%;
  border-radius: 10px 10px;
  transition: transform 250ms ease;
}
main .item img:hover {
  transform: scale(1.05);
}

main h2,
main p,
main b {
  margin: 10px 20px;
  color: #333;
}
main b {
  color: #5fa36a;
}

main .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 175ms ease;
}

main .add-to-cart:hover {
  transform: scale(1.15) translateY(-1px);
}

footer {
  text-align: center;
  margin-top: 100px;
}
