@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

header {
  position: relative;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: #fafafa;
  -webkit-box-shadow: 4px 5px 15px -7px #606060;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 1000;

  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .empty h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header .shop-cart .item img {
  width: 70px;
  float: left;
  margin-right: 20px;
}
header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
header .shop-cart .item p {
  color: #797979;
  font-weight: 600;
}

header .shop-cart .item .delete-icon {
  color: #ca5252;
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: color, transform 200ms ease;
}

header .shop-cart .item .delete-icon:hover {
  color: #d83030;
  transform: scale(1.1);
}

header .shop-cart .summa {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20;
  margin-bottom: 12px;
}

header .presentation {
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: url("img/dreams.jpg") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 100ms ease;
}

header ul.nav li:hover {
  opacity: 0.7;
}

header .shop-cart-button {
  float: right;
  cursor: pointer;
  transition: color, transform 190ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
  color: rgb(99, 97, 85);
  transform: scale(1.2);
}

header .presentation::after {
  content: "Gone brands at the best prices";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
header .presentation::before {
  content: "dress as you like";
  position: absolute;
  top: 265px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}

.categories div {
  display: inline-block;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 200ms ease;
}

.categories div:hover {
  border-color: silver;
  transform: scale(1.1);
}

.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
}

.full-item > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 9px;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 30%;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

main .item img,
.full-item img {
  width: 100%;
  border-radius: 10px 10px;
  transition: transform 250ms ease;
  cursor: pointer;
}
main .item img:hover,
.full-item img:hover {
  transform: scale(1.05);
}

main h2,
.full-item h2,
main p,
.full-item p,
main b,
.full-item b {
  margin: 10px 20px;
  color: #333;
}
main b,
.full-item b {
  color: #5fa36a;
}

main .add-to-cart,
.full-item .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 175ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
  transform: scale(1.15) translateY(-1px);
}

footer {
  text-align: center;
  margin-top: 100px;
}
